.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000001a;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
  
    height: 581px;
    width: 528px;
    background-color: var(--bot-logo-colour);
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--timeing-funktion);
  }
  
  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #0000001a;
    background-color: var(--bot-logo-colour);
  }
  
  .close-button__icon {
    fill: #000000;
    transition: fill var(--timeing-funktion);

    .close-button:hover &,
    .close-button:focus & {
      fill: var(--accent-colour);
    }
  }
  
 
  
  .form__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-colour);
  }
  .form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

     label {
      margin-bottom: 4px;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      color: var(--secondary-text-colour);
    }
     input {
      padding-left: 42px;
      width: 100%;
      height: 40px;
      outline: transparent;
      border: 1px solid #21212133;
      border-radius: 4px;
      transition: border var(--timeing-funktion);

      &:focus {border: 1px solid var(--accent-colour);}
    }
      textarea {
      padding: 12px 16px;
      height: 120px;
      outline: transparent;
      border: 1px solid #21212133;
      border-radius: 4px;
      resize: none;
      transition: border var(--timeing-funktion);

      &:focus {
        border: 1px solid var(--accent-colour);
      }
    }
    textarea[placeholder] {
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
  .form__coment {
    margin-bottom: 20px;
  }
  .form__picture {
    height: 40px;
    width: 448px;
    position: relative;
  }
  .form__svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
    transition: fill var(--timeing-funktion);

    .form__picture:focus-within & {
      fill: var(--accent-colour);
    }
  }

  .checkbox__area {
    display: inline-block;
    margin-right: 8.5px;
    width: 16px;
    height: 15px;
    overflow: hidden;
    border-radius: 0.05em;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em var(--title-colour);
    transition: background-color var(--timeing-funktion), box-shadow var(--timeing-funktion);

    .checkbox:checked + & {
      background-image: url(/photo/icon-check-white.svg);
      background-origin: border-box;
      box-shadow: 0 0 0 0.1em var(--buttom-colour);
      background-color: var(--buttom-colour);
    }
  }
  
  .checkbox {
    -webkit-appearance: none;
  }
  .checkbox__label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-colour);
  }
  .label__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--buttom-colour);
  }
  
  .form-checkbox label {
    margin-left: 7px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: var(--secondary-text-colour);
  }
  .label__link {
    margin-left: 5px;
  }
  .form__button {
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--contacts-footer-colour);
    background-color: var(--buttom-colour);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }