.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bcg-colour);
  }
  .footer__page {
    display: flex;
    align-items: baseline;
  }
  .logo__color {
    display: block;
    margin-bottom: 20px;
    color: var(--bot-logo-colour);
  }
  
  .adress__colored {
    font-size: 14px;
    line-height: 1.71;
    color: var(--bot-logo-colour);
  }
  .adress__item {
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  
  .adress__link {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--timeing-funktion);
    &:hover,
  &:focus {
    color: var(--accent-colour);
  }
  }
  
  
  .social {
    margin-left: 70px;
  }
  .social__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--bot-logo-colour);
  }
  
  .social__list {
    gap: 10px;
    margin-right: auto;
    display: flex;
  }
  
  .social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #44454e;
    fill: var(--bot-logo-colour);
    transition: background-color var(--timeing-funktion);
    &:hover,
  &:focus {
    background-color: var(--accent-colour);
  }
  }
  
  
  .footer-form {
    margin-left: auto;
    input {
      padding: 15px 16px;
      margin-right: 12px;
      width: 358px;
      height: 50px;
      outline: transparent;
      background-color: #2196f300;
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .footer-form__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--bot-logo-colour);
  }
  
  .footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--contacts-footer-colour);
    background-color: var(--buttom-colour);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    &__text {
      margin-right: 10px;
    }
    &__icon {
      fill: var(--contacts-footer-colour);
    }
  }
 
  
  
  
  .footer-form--position {
    display: flex;
  }