.team {
    background-color: #f5f4fa;
  }
  
  .team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-colour);
  }
  
  .team__list {
    display: flex;
  }
  .team__member {
    margin-right: 30px;
    background-color: var(--bot-logo-colour);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child {
      margin-right: 0px;
    }
  }
  
  
  .team__photo {
    width: 270px;
    height: 260px;
    left: 215px;
    top: 1632px;
  }
  
  .team__data {
    padding: 30px 0px;
  }
  
  .team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-colour);
  }
  .team__speciality {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--secondary-text-colour);
  }
  
  .sn {
    margin-top: 15px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sn__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    transition: fill var(--timeing-funktion), background-color var(--timeing-funktion);

    &:hover,
    &:focus {
      fill: #ffffff;
      background-color: var(--accent-colour);
    }
  }
