:root {
    --main-bcg-colour: #f5f5f5;
    --footer-bcg-colour: #2f303a;
    --maint-text-colour: #2f303a;
    --secondary-text-colour: #757575;
    --accent-colour: #2196f3;
    --contacts-header-colour: #757575;
    --contacts-footer-colour: #ffffff;
    --buttom-colour: #2196f3;
    --top-logo-colour: #000000;
    --bot-logo-colour: #ffffff;
    --title-colour: #212121;
    --port-button__appearance-bcg-colour: #f5f4fa;
    --timeing-funktion: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  